<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1>Hello Flask</h1>
    <p>welcome to flask website</p>
    <section>
      <form action="/result" method="post">
        <p>Name</p>
        <p><input type="text" name="Name" /></p>
        <p>Phisics</p>
        <p><input type="text" name="Phisics" /></p>
        <p>Chimestery</p>
        <p><input type="text" name="Chimestery" /></p>
        <p>Maths</p>
        <p><input type="text" name="Maths" /></p>
        <p><button type="submit">Submit</button></p>
      </form>
    </section>
  </body>
</html>
